* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  color: #555;
}

/*
  Headings
*/
h1,
h2,
h3 {
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.4em;
  color: #111;
  font-weight: 500;
}

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}

/*
  typography basics
*/
p {
  padding-top: 0;
  padding-bottom: 1em;
}

.wave {
  overflow: hidden;
  position: absolute;
  width: 100%;
  color: #fff;
}

.wave svg {
  fill: currentColor;
  width: 102%;
  margin-left: -1%;
  height: auto;
}

.wave:last-child {
  bottom: 0;
  transform: translateY(60%);
}

form {
  margin-top: 1em;
  margin-bottom: 2em;
}

form label {
  display: block;
  font-size: 1.1em;
  color: #555;
  margin-top: 1em;
  margin-bottom: 0.6em;
}
form small {
  display: block;
  font-size: 0.7em;
  color: #c5c5c5;
}

form input,
form textarea {
  width: 100%;
  border: solid 2px #444;
  background-color: #efefef;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  font-size: 16px;
  color: #555;
}
form textarea {
  height: 8em;
}

button {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #c5c5c5;
  border-radius: 2px;
  color: #555;
  font-size: 1em;
}

button:hover,
button:focus {
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

/* Revengers micro-site */

.revengers {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  background-color: #050509;
  background-image:
    linear-gradient(-180deg, rgba(7,7,7,0.77) 0%, rgba(7,7,7,0.55) 16%, rgba(14,30,37,0.50) 100%),
    url(https://images.unsplash.com/photo-1519810755548-39cd217da494?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
  background-size: cover;
  overflow: hidden;
}

.chicken-wrap {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.revengers-title {
  text-align: center;
  margin: 64px auto;
}

.revengers-title img {
  width: 100%;
  max-width: 438px;
}
.revengers-title h2 {
  display: inline-block;
  font-size: 22px;
  color: white;
  border-top: solid 4px #AD2831;
  border-bottom: solid 4px #AD2831;
  padding: 8px;
}

.revengers .msg {
  margin-top: 40px;
}

.revengers .msg div {
  position: relative;
}

.revengers .msg p,
.revengers .msg-author,
.revengers input,
.revengers textarea,
.submit-btn {
  position: relative;
  background: #FFFFFF;
  border: 3px solid #000000;
  font-weight: 500;
  color: #050509;
}

.revengers .msg p {
  border-radius: 54px 54px 0 54px;
  font-size: 22px;
  z-index: 1;
  padding: 16px 50px;
}

.revengers .msg p:before {
  content: " ";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #AD2831;
  border-radius: 54px 54px 0 54px;
}

.msg-author {
  position: relative;
  top: -24px;
  right: -4px;
  margin: 5px;
  background: #D7D7D7;
  border: 3px solid #000000;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 8px;
  color: #050509;
  z-index: 2;
  width: auto;
  float: right;
}

.msg-author:before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #AD2831;
  border-radius: 4px;
}
.guestbook-form {
  margin-top: 104px;
  border-top: 4px;
  border-top: solid 4px #AD2831;
  padding-top: 40px;
}

.revengers input,
.revengers textarea,
.submit-btn {
  font-size: 22px;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  max-width: 600px;
  box-sizing: border-box;
}

form label {
  position: relative;
  display: inline-block;
  margin: 0;
  top: 2px;
  background: #050509;
  float: left;
  color: white;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 8px;
  z-index: 2;
  width: auto;
}

.submit-btn {
  margin: 0;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border-radius: 12px;
  width: 100%;
  background: #81040C;
}

.submit-btn::after {
  content: " ";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #D37200;
  border-radius: 8px;
}

.submit-btn:hover,
.submit-btn:focus {
  background: #D37200;
}

.delete-btn {
    visibility: hidden;
    content: "";
    position: absolute;
    top: -16px;
    left: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #81040C;
    border: 2px solid #000;
    padding: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4gIDxwYXRoIGZpbGw9IiNBRDI4MzEiIGQ9Ik04LDE1IEM0LjEzNDAwNjc1LDE1IDEsMTEuODY1OTkzMiAxLDggQzEsNC4xMzQwMDY3NSA0LjEzNDAwNjc1LDEgOCwxIEMxMS44NjU5OTMyLDEgMTUsNC4xMzQwMDY3NSAxNSw4IEMxNSwxMS44NjU5OTMyIDExLjg2NTk5MzIsMTUgOCwxNSBaIE0xMC40NDM1MiwxMC43MjMzMTA1IEwxMC40NTI4Mjk2LDEwLjczMjYyMDEgTDEwLjczMjYyMDEsMTAuNDUyODI5NiBDMTEuMDMxMDYzMiwxMC4xNTQzODY1IDExLjAzMTQ5ODYsOS42Njk4NTE3MSAxMC43MzM1OTEyLDkuMzcxOTQ0MzcgTDkuMzY1MDc5MzcsOC4wMDM0MzI1IEwxMC43MzYwNTI2LDYuNjMyNDU5MjggQzExLjAzNDQ5NTcsNi4zMzQwMTYxMyAxMS4wMzQ5MzExLDUuODQ5NDgxMzUgMTAuNzM3MDIzNyw1LjU1MTU3NDAxIEwxMC40NDg0MjYsNS4yNjI5NzYyNyBDMTAuMTUwNTE4Niw0Ljk2NTA2ODkyIDkuNjY1OTgzODcsNC45NjU1MDQyNiA5LjM2NzU0MDcyLDUuMjYzOTQ3NDEgTDguMDA1ODkzODUsNi42MjU1OTQyOCBMNi42MzczODE5OCw1LjI1NzA4MjQxIEM2LjMzOTQ3NDY0LDQuOTU5MTc1MDcgNS44NTQ5Mzk4Niw0Ljk1OTYxMDQxIDUuNTU2NDk2NzEsNS4yNTgwNTM1NiBMNS4yNjczNzk5MSw1LjU0NzE3MDM2IEM0Ljk2ODkzNjc2LDUuODQ1NjEzNTEgNC45Njg1MDE0Miw2LjMzMDE0ODI5IDUuMjY2NDA4NzYsNi42MjgwNTU2MyBMNi42MjU2MTEwMyw3Ljk4NzI1NzkgTDUuMjU0NjM3ODEsOS4zNTgyMzExMiBDNC45NTYxOTQ2Niw5LjY1NjY3NDI3IDQuOTU1NzU5MzIsMTAuMTQxMjA5IDUuMjUzNjY2NjYsMTAuNDM5MTE2NCBMNS41NDIyNjQ0LDEwLjcyNzcxNDEgQzUuODQwMTcxNzUsMTEuMDI1NjIxNSA2LjMyNDcwNjUyLDExLjAyNTE4NjEgNi42MjMxNDk2NywxMC43MjY3NDMgTDcuOTk0MTIyODksOS4zNTU3Njk3NiBMOS4zNjI2MzQ3NiwxMC43MjQyODE2IEM5LjY2MDU0MjExLDExLjAyMjE4OSAxMC4xNDUwNzY5LDExLjAyMTc1MzYgMTAuNDQzNTIsMTAuNzIzMzEwNSBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMSAtMSkiLz48L3N2Zz4=);
    background-size: 100% 100%;
    background-color: #fff;
    z-index: 99;
}

.delete-btn:hover {
  background-color: #fff;
  transform: scale(1.1);
}

.msg:hover .delete-btn {
  visibility: visible;
}
